In [17]:
import numpy as np


# Basic operations
# 2D dimensional Array
df=np.arange(1,26).reshape(5,5)
print(df)
print('-------------------')
print(df.shape)
print('-------------------')
print(df.ndim)
print('-------------------')
print(df.dtype)
print('-------------------')
print(df.size)
print('-------------------')
print(df.itemsize)
print('-------------------')
print(df.nbytes)
print('-------------------')

#slicing


print(df[1:2])

print(df[2:4,1:4])

print('-------------------')


print(df[3:5,3:5])

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]
-------------------
(5, 5)
-------------------
2
-------------------
int64
-------------------
25
-------------------
8
-------------------
200
-------------------
[[ 6  7  8  9 10]]
[[12 13 14]
 [17 18 19]]
-------------------
[[19 20]
 [24 25]]

In [32]:

import numpy as np

#3D Dimentional

df=np.arange(1,65).reshape(4,4,4)

print(df)

# print('\n**************************************')

# print(df.shape)

# print('\n**************************************')

# print(df.ndim)

# print('\n**************************************')

# print(df.sum())

# print('\n**************************************')

# print(df.sum(axis=0))

# print('\n**************************************')

# print(df.sum(axis=1))

# print('\n**************************************')

# print(df.sum(axis=2))

#Slicing
print(df[0:3,1:3,1:3])

[[[ 1  2  3  4]
  [ 5  6  7  8]
  [ 9 10 11 12]
  [13 14 15 16]]

 [[17 18 19 20]
  [21 22 23 24]
  [25 26 27 28]
  [29 30 31 32]]

 [[33 34 35 36]
  [37 38 39 40]
  [41 42 43 44]
  [45 46 47 48]]

 [[49 50 51 52]
  [53 54 55 56]
  [57 58 59 60]
  [61 62 63 64]]]
[[[ 6  7]
  [10 11]]

 [[22 23]
  [26 27]]

 [[38 39]
  [42 43]]]

In [42]:
df=np.zeros(2)
print(df)
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])

df=np.concatenate((a, b))
print(df)
data = np.array([[1, 2], [3, 4]])
ones = np.array([[1, 1], [1, 1]])

print(data + ones)

[0. 0.]
[1 2 3 4 5 6 7 8]
[[2 3]
 [4 5]]

In [50]:
# import pandas as pd


df=pd.DataFrame()
df


import pandas as pd

lst = ['Geeks', 'For', 'Geeks', 'is',
            'portal', 'for', 'Geeks']
columns=['1','2','3','4','5','6','7']

df = pd.DataFrame(lst,columns)
print(df)


# import pandas as pd
import pandas as pd

# simple array
data = [1, 2, 3, 4]

ser = pd.Series(data)
print(ser)

        0
1   Geeks
2     For
3   Geeks
4      is
5  portal
6     for
7   Geeks
0    1
1    2
2    3
3    4
dtype: int64

ModuleNotFoundError: No module named 'faker'

In [91]:
pip install Faker

Requirement already satisfied: Faker in /usr/local/lib/python3.11/dist-packages (37.1.0)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from Faker) (2025.1)

In [92]:
import pandas as pd
import random
from faker import Faker

# Initialize the Faker library to generate random names and data
fake = Faker()

# Define the number of records (200 records)
num_records = 200

# Generate the employee data
data = {
    'Employee ID': [i+101 for i in range(num_records)],  # Employee ID starting from 101
    'Name': [fake.name() for _ in range(num_records)],  # Random names
    'Department': [random.choice(['HR', 'Marketing', 'IT', 'Finance', 'Sales', 'Operations']) for _ in range(num_records)],
    'Position': [random.choice(['Manager', 'Executive', 'Developer', 'Analyst', 'Sales Representative']) for _ in range(num_records)],
    'Salary': [random.randint(50000, 120000) for _ in range(num_records)],  # Random salary between 50K and 120K
    'Joining Date': [fake.date_this_decade() for _ in range(num_records)]  # Random joining date in the past decade
}

# Create the DataFrame
df = pd.DataFrame(data)

# Save the DataFrame to an Excel file
df.to_excel('employee_data_200_records.xlsx', index=False, engine='openpyxl')

print(f"Excel file 'employee_data_200_records.xlsx' has been created with {num_records} records.")

Excel file 'employee_data_200_records.xlsx' has been created with 200 records.

In [93]:
import pandas as pd

In [134]:
df=pd.read_excel('employee_data_200_records.xlsx')
df
# print(df.head())
# print(df.columns)
# c=[]
# extract_names=df[df['Salary']>100000]


# d = extract_names[['Name', 'Salary']]
# # print(d)

# print(d.head())

# df['Name'] = df['Name'].str.lower()
# print(df.head())

# df=df[['Name','Department']]
# print(df.head())


# d=df.loc(df.Department=='IT')
# print(d.head())

<bound method DataFrame.count of      Employee ID                 Name Department              Position  \
1            102        Peter Higgins         IT               Manager
3            104          Bill Carter         IT               Analyst
13           114        Kristy Howell         IT  Sales Representative
14           115          Keith Mills         IT               Analyst
20           121         Connie Scott         IT             Developer
36           137        Sandra Henson         IT  Sales Representative
38           139      Aaron Stevenson         IT  Sales Representative
44           145         Walter Jones         IT               Analyst
55           156          Amy Russell         IT               Analyst
56           157           Nancy Bell         IT               Analyst
60           161    Shannon Hernandez         IT  Sales Representative
61           162      Nancy Armstrong         IT               Manager
68           169         Sarah Powell         IT             Developer
69           170    Marcia Richardson         IT             Executive
71           172       Monica Nichols         IT             Executive
74           175       Courtney Salas         IT               Manager
76           177        Nathan Ibarra         IT             Executive
77           178  Dr. Christian Potts         IT             Executive
84           185       Kristine Scott         IT               Analyst
85           186          Adam Graves         IT  Sales Representative
94           195         Peter Dorsey         IT               Manager
101          202       Angela Ramirez         IT             Developer
103          204         Kevin Walker         IT  Sales Representative
113          214          Mike Wilson         IT               Manager
117          218        Erin Williams         IT               Analyst
121          222           Brent Chan         IT               Analyst
123          224         James Bailey         IT             Developer
124          225         Robin Martin         IT  Sales Representative
129          230          Jason Watts         IT             Developer
131          232     Heather Calderon         IT             Developer
133          234         Anthony King         IT               Manager
134          235        Kelly Johnson         IT               Manager
135          236        Robert Hansen         IT             Executive
139          240          Grace Gomez         IT               Manager
140          241        Daniel Mosley         IT  Sales Representative
142          243        Brenda Atkins         IT               Manager
149          250       Richard Phelps         IT               Analyst
152          253          Nancy Grant         IT  Sales Representative
164          265       Douglas Cooper         IT               Analyst
168          269          Brandi Rose         IT             Developer
174          275    Stephanie Bennett         IT               Analyst
177          278    Michelle Crawford         IT               Manager
179          280        Gerald Martin         IT             Executive
188          289      Joshua Gallegos         IT  Sales Representative
192          293           Emma White         IT               Analyst

     Salary Joining Date
1     79660   2025-03-10
3     53009   2021-06-13
13   108656   2025-01-05
14    62049   2023-03-08
20   105205   2024-05-01
36    57754   2024-08-12
38    88771   2022-11-09
44    53920   2020-06-14
55    69040   2021-04-29
56   106278   2023-11-24
60   100405   2023-10-04
61   116336   2024-12-25
68    82606   2022-07-22
69    51266   2020-01-23
71    61620   2020-03-05
74    72748   2025-02-01
76   108830   2023-12-20
77    79551   2020-06-29
84    86761   2024-07-02
85    68974   2020-02-20
94    88295   2021-05-30
101   70378   2021-11-01
103   79539   2023-01-28
113  108670   2024-08-09
117   58044   2024-06-08
121   95706   2021-10-12
123   81978   2021-02-03
124   71635   2024-02-26
129  103928   2020-08-09
131   66467   2021-10-02
133  100028   2023-02-28
134   79171   2021-03-08
135   68667   2023-03-08
139   75471   2020-01-15
140   66241   2021-07-10
142   52281   2025-01-03
149   80393   2021-11-22
152  119841   2025-03-03
164  102037   2024-04-20
168   90376   2021-01-09
174   51622   2024-12-15
177  119128   2020-08-06
179  109234   2020-06-06
188  112918   2022-01-18
192  118616   2021-10-05  >
    Employee ID           Name Department              Position  Salary  \
1           102  Peter Higgins         IT               Manager   79660
3           104    Bill Carter         IT               Analyst   53009
13          114  Kristy Howell         IT  Sales Representative  108656
14          115    Keith Mills         IT               Analyst   62049
20          121   Connie Scott         IT             Developer  105205

   Joining Date
1    2025-03-10
3    2021-06-13
13   2025-01-05
14   2023-03-08
20   2024-05-01

In [146]:
d = df.loc[df.Department == 'IT']
d1=df.loc[1:10:2]
print(d1)
# print(d.head())

df.loc[1:5, 'Name']


d = df.loc[df.Name== 'Brian Villa']
print(d['Employee ID'])

   Employee ID               Name  Department              Position  Salary  \
1          102      Peter Higgins          IT               Manager   79660
3          104        Bill Carter          IT               Analyst   53009
5          106  Heather Dickerson   Marketing               Manager   80210
7          108          Roy Boyer  Operations             Executive  114461
9          110        Brian Villa     Finance  Sales Representative   54577

  Joining Date
1   2025-03-10
3   2021-06-13
5   2024-06-03
7   2024-02-16
9   2023-01-09
9    110
Name: Employee ID, dtype: int64

In [204]:
import pandas as pd

# # Define the data and columns
# c = ["a", "b", "c"]
# data = ["name", "employee", "salary"]

# # Create a DataFrame by passing the data as rows and the index as column labels
# df = pd.DataFrame(data, index=c, columns=["Values"])

# # Print the DataFrame
# print(df)


data={"Name":['ravi','suresh','Mani','kumar','rama','srinivas','Sathish'],
      "salary":['1000','2000','3000','5000','6000','7000','8000']}
c=[1,2,3,4,5,6,7]
df=pd.DataFrame(data,index=c)
print(df)

df.to_excel('test.xlsx',index=True ,engine='openpyxl')

print(df.apply(lambda x: x.max()))

       Name salary
1      ravi   1000
2    suresh   2000
3      Mani   3000
4     kumar   5000
5      rama   6000
6  srinivas   7000
7   Sathish   8000
Name      suresh
salary      8000
dtype: object

In [222]:
import pandas as pd

# Creating a DataFrame with multiple columns and rows
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [5000, 6000, 7000, 8000, 9000],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'Finance']
}

df = pd.DataFrame(data)
# print(df)


# # Get the maximum salary across all rows (column-wise)
# max_salary = df['Salary'].max()
# print(max_salary)  # Output: 9000



# d=df.groupby('Department').max()
# print(d)

# average_salary = df.groupby('Department')['Salary'].apply(lambda x: x.mean())
# print(average_salary)


# df['Average'] = df.apply(lambda row: (row['Age'] + row['Salary']) / 2, axis=1)
# print(df)



# # Format the entire DataFrame to add a dollar sign to every value
# df_formatted = df.applymap(lambda x: f"${x}" if isinstance(x, (int, float)) else x)
# print(df_formatted)


# Create a dictionary to map full department names to abbreviations
department_map = {
    'HR': 'Human Resources',
    'Finance': 'Fin',
    'IT': 'Information Technology',
    'Marketing': 'Mktg'
}

# Use map to replace department names with their abbreviations
df['Department Abbr'] = df['Department'].map(department_map)
print(df)

      Name  Age  Salary Department         Department Abbr
0    Alice   25    5000         HR         Human Resources
1      Bob   30    6000    Finance                     Fin
2  Charlie   35    7000         IT  Information Technology
3    David   40    8000  Marketing                    Mktg
4      Eva   45    9000    Finance                     Fin

In [232]:
# Concate, merge,and join
import pandas as pd

# Creating the first DataFrame (df1)
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3]
)

# Creating the second DataFrame (df2)
df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7]
)

# Creating the third DataFrame (df3)
df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11]
    )



# Concatenating the DataFrames into a list
frames = [df1, df2, df3]

# Concatenating the DataFrames along rows (default axis=0)
result = pd.concat(frames)

# Display the concatenated result
print(result)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11